html {
  height: 100%;
}

body {
  height: 100%;
}

#secret-container {
  margin: 0 auto;
  margin-top: 150px;
  width: 600px;
}

#btn {
  display: block;
  margin: 0 auto;
}

#message {
  text-align: center;
}